
*
{
font-family: Helvetica
}


.title h1{
font-size: 64px;
font-weight: bold;
}


.rank h2{
text-align: center;
font-size: 32px;
}

img{
display: block;
margin-left: auto;
margin-right: auto;
background-color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img:hover{
transform: scaleX(-1);
}

.navbar{
background-color: #000080;
overflow: hidden;
position: fixed;
width: 100%;
top: 0;
left: 0;
}

.navbar a {
position: relative;
float: left;
color: rgb(255, 255, 255);
text-align: center;
padding: 26px 24px;
text-decoration: none;
font-size: 24px;
font-family: Helvetica;
font-weight: bold;
}

.lines{
border: 10px solid blue;
border-radius: 5px;
}



